public/docs/AI Order Priority & Notification System(Jun 22 at 17_46_55).json
{
  "updatedAt": "2026-06-22T12:20:11.489Z",
  "createdAt": "2026-06-22T08:58:13.440Z",
  "id": "MZy5qqDg6YYhe94s",
  "name": "AI Order Priority & Notification System",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-order",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "efa70c96-a449-4607-9595-dcff9ed62812",
      "name": "New Order Trigger",
      "webhookId": "bcf512f1-e8a1-4022-a78a-4d49e66d79d9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "87d57bc6-d0d1-4d8d-8f1b-675cf8087bc9",
              "name": "order_id",
              "value": "={{$json.body.order_id}}",
              "type": "string"
            },
            {
              "id": "f10f1408-5aa0-41ee-a945-1e949daf544b",
              "name": "customer_name",
              "value": "={{ $json.body.customer_name }}",
              "type": "string"
            },
            {
              "id": "37662faa-e7f6-4945-8511-d7940db377fc",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "b0a52eec-d6b0-4819-b607-44d39a595204",
              "name": "order_value",
              "value": "={{ $json.body.order_value }}",
              "type": "number"
            },
            {
              "id": "1676cd8c-5b4f-44b5-8b03-02e04527fea8",
              "name": "delivery_type",
              "value": "={{ $json.body.delivery_type.toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "21a2272a-68e0-428f-9efa-e0852fb6811f",
              "name": "timestamp",
              "value": "={{new Date().toISOString()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "defb670b-d448-4c9d-ae7f-f8c0e2b48a8b",
      "name": "Normalize Order Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Order Data:\n{{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "You are an AI order prioritization engine.\n\nClassify the order using STRICT step-by-step rules:\n\n1. If delivery_type equals \"express\" → priority = High\n2. Else if order_value > 10000 → priority = High\n3. Else if order_value >= 3000 AND order_value <= 10000 → priority = Medium\n4. Else → priority = Low\n\n\nIMPORTANT:\n- Always follow rules in order (top to bottom)\n- Do not skip steps\n- order_value is a number\n- delivery_type is lowercase\n-Also include a short reason (1 line).\n\nStrict Requirements:\n- Respond ONLY in valid JSON\n- No explanation\n- No extra text\n\nOutput format:\n{\n  \"priority\": \"High\" | \"Medium\" | \"Low\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "656cae92-e0cc-4c42-922e-4bbfded9b077",
      "name": "Priority Prediction Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-oss-20b",
          "mode": "list",
          "cachedResultName": "openai/gpt-oss-20b"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        288,
        208
      ],
      "id": "3e3b7399-04b4-41de-9312-f1d220c66956",
      "name": "LLM Model",
      "credentials": {
        "openAiApi": {
          "id": "ElpSuTJcjmLFzmqr",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        608,
        -192
      ],
      "id": "a412cdf1-4bbd-4d95-9ba7-c2d16a961dd7",
      "name": "Prepare AI Input"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.output).priority }}",
                    "rightValue": "High",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "37ba9619-d9d1-4b0e-917d-0d49bb089d24"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "High Priority"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ca5ccba6-3dce-41fd-9026-61ded6bf0c3a",
                    "leftValue": "={{ JSON.parse($json.output).priority }}",
                    "rightValue": "Medium",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Medium Priority"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b46f0d9d-5e54-452c-b55d-877581be5729",
                    "leftValue": "={{ JSON.parse($json.output).priority }}",
                    "rightValue": "Low",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Low Priority"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1040,
        64
      ],
      "id": "7dfaac12-647f-4cfe-8f0c-cd5a4b9a3e0f",
      "name": "Priority Rourter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae5317a6-bae4-4326-ab43-6352e7626a53",
              "name": "Priority",
              "value": "={{ JSON.parse($json.output).priority }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        -144
      ],
      "id": "40f21a90-c161-474d-9621-469799654714",
      "name": "Format High Priority Email"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=🚨 HIGH PRIORITY ORDER - {{$json.order_id}} ",
        "message": "= <h2 style=\"color:red;\">🚨 High Priority Order Alert</h2>  <p><strong>Order ID:</strong> {{$json.order_id}}</p> <p><strong>Customer:</strong> {{$json.customer_name}}</p> <p><strong>Email:</strong> {{$json.email}}</p> <p><strong>Order Value:</strong> ₹{{$json.order_value}}</p> <p><strong>Delivery Type:</strong> {{$json.delivery_type}}</p> <p><strong>Priority:</strong>{{ JSON.parse($json.output).priority }}</p>  <hr>  <p style=\"color:red;\"><strong>⚠ Immediate action required!</strong></p> <p>This order is marked as HIGH priority. Please process it immediately.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1392,
        -160
      ],
      "id": "2dbeca70-7079-4f53-adbe-3905843308d4",
      "name": "Send High Priority Alert",
      "webhookId": "994de4f4-304c-490d-b5e0-af3f43900d92",
      "credentials": {
        "gmailOAuth2": {
          "id": "dJo19xe1bVod4Y6k",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1456,
        -304
      ],
      "id": "a7a1cedd-95e0-40be-970f-efe5a4bb6e4a",
      "name": "Prepare High Order Log"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hHLcPkLrA44KV8qn1n3E6SRTYBgcWaRuqH7hBRfOdDo",
          "mode": "list",
          "cachedResultName": "Day-7 order notification system",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hHLcPkLrA44KV8qn1n3E6SRTYBgcWaRuqH7hBRfOdDo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "High Priority",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hHLcPkLrA44KV8qn1n3E6SRTYBgcWaRuqH7hBRfOdDo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "order_value",
              "displayName": "order_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "delivery_type",
              "displayName": "delivery_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "labelIds",
              "displayName": "labelIds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1648,
        -192
      ],
      "id": "36d88339-3957-448d-8cda-524f7986d199",
      "name": "Log High Priority Order",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XUo0YZXw282TEr36",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b9eacb24-8ad3-4869-ac32-577177677dbf",
              "name": "Priority",
              "value": "={{ JSON.parse($json.output).priority }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        64
      ],
      "id": "7fa0d432-853f-42d6-8c27-4f21c28fbb9a",
      "name": "Format Medium Priority Email"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=📦 New Order - {{$json.order_id}}  ",
        "message": "=<h3 style=\"color:#f39c12;\">📦 New Order Received</h3>  <p><strong>Order ID:</strong> {{$json.order_id}}</p> <p><strong>Customer:</strong> {{$json.customer_name}}</p> <p><strong>Email:</strong> {{$json.email}}</p> <p><strong>Order Value:</strong> ₹{{$json.order_value}}</p> <p><strong>Delivery Type:</strong> {{$json.delivery_type}}</p> <p><strong>Priority:</strong> {{ JSON.parse($json.output).priority }}</p>  <hr>  <p><strong>Action:</strong> Process this order under normal workflow.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1456,
        48
      ],
      "id": "938a447b-47fd-42ad-b7de-cc3a1ae94a14",
      "name": "Send Medium Priority Alert",
      "webhookId": "0d700fb1-9d2a-4833-9c7c-0cf680254034",
      "credentials": {
        "gmailOAuth2": {
          "id": "dJo19xe1bVod4Y6k",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1376,
        208
      ],
      "id": "abf473d7-3e75-4bd0-9d6a-ea9cb9cd975c",
      "name": "Prepare Medium Order Log"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hHLcPkLrA44KV8qn1n3E6SRTYBgcWaRuqH7hBRfOdDo",
          "mode": "list",
          "cachedResultName": "Day-7 order notification system",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hHLcPkLrA44KV8qn1n3E6SRTYBgcWaRuqH7hBRfOdDo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 383938609,
          "mode": "list",
          "cachedResultName": "Medium Priority",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hHLcPkLrA44KV8qn1n3E6SRTYBgcWaRuqH7hBRfOdDo/edit#gid=383938609"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "order_value",
              "displayName": "order_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "delivery_type",
              "displayName": "delivery_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "labelIds",
              "displayName": "labelIds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1664,
        80
      ],
      "id": "faa1d0cd-e726-412f-a5b4-4c1dce6159ef",
      "name": "Log Medium Priority Order",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XUo0YZXw282TEr36",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0afcca8e-aab8-4394-8aa3-2dc6c59c131d",
              "name": "Priority",
              "value": "={{ JSON.parse($json.output).priority }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        352
      ],
      "id": "c35260d0-c89f-479d-967f-ad6b4aba0d4f",
      "name": "Format Low Priority Email"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=🟢 Low Priority Order - {{$json.order_id}}\n",
        "message": "= <h4 style=\"color:green;\">🟢 Low Priority Order</h4>  <p><strong>Order ID:</strong> {{$json.order_id}}</p> <p><strong>Customer:</strong> {{$json.customer_name}}</p> <p><strong>Order Value:</strong> ₹{{$json.order_value}}</p> <p><strong>Priority:</strong>{{ JSON.parse($json.output).priority }}</p>  <hr>  <p>No immediate action required. Can be processed later.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1312,
        368
      ],
      "id": "0c9adfe6-42f2-48e2-a639-9883892da8a2",
      "name": "Send Low Priority Alert",
      "webhookId": "dfd67841-b69e-42e1-a3ae-61775d60ba01",
      "credentials": {
        "gmailOAuth2": {
          "id": "dJo19xe1bVod4Y6k",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1472,
        480
      ],
      "id": "2148c262-35d6-4564-b9bd-bac00ddfc4ae",
      "name": "Prepare Low Order Log"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hHLcPkLrA44KV8qn1n3E6SRTYBgcWaRuqH7hBRfOdDo",
          "mode": "list",
          "cachedResultName": "Day-7 order notification system",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hHLcPkLrA44KV8qn1n3E6SRTYBgcWaRuqH7hBRfOdDo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2059923653,
          "mode": "list",
          "cachedResultName": "Low Priority",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hHLcPkLrA44KV8qn1n3E6SRTYBgcWaRuqH7hBRfOdDo/edit#gid=2059923653"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "order_value",
              "displayName": "order_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "delivery_type",
              "displayName": "delivery_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "labelIds",
              "displayName": "labelIds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1664,
        480
      ],
      "id": "f305b5be-4866-4884-8ea6-aa9379a5999b",
      "name": "Log Low Priority Order",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XUo0YZXw282TEr36",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "New Order Trigger": {
      "main": [
        [
          {
            "node": "Normalize Order Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Order Data": {
      "main": [
        [
          {
            "node": "Priority Prediction Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare AI Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Priority Prediction Agent": {
      "main": [
        [
          {
            "node": "Prepare AI Input",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "LLM Model": {
      "ai_languageModel": [
        [
          {
            "node": "Priority Prediction Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Input": {
      "main": [
        [
          {
            "node": "Priority Rourter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Priority Rourter": {
      "main": [
        [
          {
            "node": "Format High Priority Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Medium Priority Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Low Priority Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format High Priority Email": {
      "main": [
        [
          {
            "node": "Send High Priority Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare High Order Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send High Priority Alert": {
      "main": [
        [
          {
            "node": "Prepare High Order Log",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prepare High Order Log": {
      "main": [
        [
          {
            "node": "Log High Priority Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log High Priority Order": {
      "main": [
        []
      ]
    },
    "Format Medium Priority Email": {
      "main": [
        [
          {
            "node": "Send Medium Priority Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Medium Order Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Medium Priority Alert": {
      "main": [
        [
          {
            "node": "Prepare Medium Order Log",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prepare Medium Order Log": {
      "main": [
        [
          {
            "node": "Log Medium Priority Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Low Priority Email": {
      "main": [
        [
          {
            "node": "Send Low Priority Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Low Order Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Low Priority Alert": {
      "main": [
        [
          {
            "node": "Prepare Low Order Log",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prepare Low Order Log": {
      "main": [
        [
          {
            "node": "Log Low Priority Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 14
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "29a1fac4-76a1-4a8a-ab6f-0b78c01549e5",
  "activeVersionId": "29a1fac4-76a1-4a8a-ab6f-0b78c01549e5",
  "versionCounter": 238,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-22T08:58:13.450Z",
      "createdAt": "2026-06-22T08:58:13.450Z",
      "role": "workflow:owner",
      "workflowId": "MZy5qqDg6YYhe94s",
      "projectId": "loWf0mBs1xKuh5N3",
      "project": {
        "updatedAt": "2026-06-04T07:55:05.260Z",
        "createdAt": "2026-06-04T07:52:41.897Z",
        "id": "loWf0mBs1xKuh5N3",
        "name": "Chandu M <chandouqiande@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8d994dc9-eaab-443f-93bf-ef4aa823f36d"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-06-22T12:17:34.483Z",
      "createdAt": "2026-06-22T12:17:34.483Z",
      "id": "0W5Ji7zTOk29YZ7i",
      "name": "E-Commerce"
    },
    {
      "updatedAt": "2026-06-09T06:33:27.317Z",
      "createdAt": "2026-06-09T06:33:27.317Z",
      "id": "8ZUaEfWmhomQ0P8p",
      "name": "n8n"
    },
    {
      "updatedAt": "2026-06-22T12:17:55.828Z",
      "createdAt": "2026-06-22T12:17:55.828Z",
      "id": "ZtRA3BpHTEGtRnvo",
      "name": "Order Management"
    },
    {
      "updatedAt": "2026-06-19T18:47:33.921Z",
      "createdAt": "2026-06-19T18:47:33.921Z",
      "id": "adTN6XPgfo01vqx0",
      "name": "ai automation"
    }
  ],
  "parentFolder": null,
  "activeVersion": {
    "updatedAt": "2026-06-22T12:18:49.000Z",
    "createdAt": "2026-06-22T12:16:55.397Z",
    "versionId": "29a1fac4-76a1-4a8a-ab6f-0b78c01549e5",
    "workflowId": "MZy5qqDg6YYhe94s",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "new-order",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "efa70c96-a449-4607-9595-dcff9ed62812",
        "name": "New Order Trigger",
        "webhookId": "bcf512f1-e8a1-4022-a78a-4d49e66d79d9"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "87d57bc6-d0d1-4d8d-8f1b-675cf8087bc9",
                "name": "order_id",
                "value": "={{$json.body.order_id}}",
                "type": "string"
              },
              {
                "id": "f10f1408-5aa0-41ee-a945-1e949daf544b",
                "name": "customer_name",
                "value": "={{ $json.body.customer_name }}",
                "type": "string"
              },
              {
                "id": "37662faa-e7f6-4945-8511-d7940db377fc",
                "name": "email",
                "value": "={{ $json.body.email }}",
                "type": "string"
              },
              {
                "id": "b0a52eec-d6b0-4819-b607-44d39a595204",
                "name": "order_value",
                "value": "={{ $json.body.order_value }}",
                "type": "number"
              },
              {
                "id": "1676cd8c-5b4f-44b5-8b03-02e04527fea8",
                "name": "delivery_type",
                "value": "={{ $json.body.delivery_type.toLowerCase() }}",
                "type": "string"
              },
              {
                "id": "21a2272a-68e0-428f-9efa-e0852fb6811f",
                "name": "timestamp",
                "value": "={{new Date().toISOString()}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          208,
          0
        ],
        "id": "defb670b-d448-4c9d-ae7f-f8c0e2b48a8b",
        "name": "Normalize Order Data"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Order Data:\n{{ JSON.stringify($json) }}",
          "options": {
            "systemMessage": "You are an AI order prioritization engine.\n\nClassify the order using STRICT step-by-step rules:\n\n1. If delivery_type equals \"express\" → priority = High\n2. Else if order_value > 10000 → priority = High\n3. Else if order_value >= 3000 AND order_value <= 10000 → priority = Medium\n4. Else → priority = Low\n\n\nIMPORTANT:\n- Always follow rules in order (top to bottom)\n- Do not skip steps\n- order_value is a number\n- delivery_type is lowercase\n-Also include a short reason (1 line).\n\nStrict Requirements:\n- Respond ONLY in valid JSON\n- No explanation\n- No extra text\n\nOutput format:\n{\n  \"priority\": \"High\" | \"Medium\" | \"Low\"\n}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          416,
          0
        ],
        "id": "656cae92-e0cc-4c42-922e-4bbfded9b077",
        "name": "Priority Prediction Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "openai/gpt-oss-20b",
            "mode": "list",
            "cachedResultName": "openai/gpt-oss-20b"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          288,
          208
        ],
        "id": "3e3b7399-04b4-41de-9312-f1d220c66956",
        "name": "LLM Model",
        "credentials": {
          "openAiApi": {
            "id": "ElpSuTJcjmLFzmqr",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          608,
          -192
        ],
        "id": "a412cdf1-4bbd-4d95-9ba7-c2d16a961dd7",
        "name": "Prepare AI Input"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ JSON.parse($json.output).priority }}",
                      "rightValue": "High",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "37ba9619-d9d1-4b0e-917d-0d49bb089d24"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "High Priority"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "ca5ccba6-3dce-41fd-9026-61ded6bf0c3a",
                      "leftValue": "={{ JSON.parse($json.output).priority }}",
                      "rightValue": "Medium",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Medium Priority"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "b46f0d9d-5e54-452c-b55d-877581be5729",
                      "leftValue": "={{ JSON.parse($json.output).priority }}",
                      "rightValue": "Low",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Low Priority"
              }
            ]
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          1040,
          64
        ],
        "id": "7dfaac12-647f-4cfe-8f0c-cd5a4b9a3e0f",
        "name": "Priority Rourter"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ae5317a6-bae4-4326-ab43-6352e7626a53",
                "name": "Priority",
                "value": "={{ JSON.parse($json.output).priority }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1216,
          -144
        ],
        "id": "40f21a90-c161-474d-9621-469799654714",
        "name": "Format High Priority Email"
      },
      {
        "parameters": {
          "sendTo": "={{ $json.email }}",
          "subject": "=🚨 HIGH PRIORITY ORDER - {{$json.order_id}} ",
          "message": "= <h2 style=\"color:red;\">🚨 High Priority Order Alert</h2>  <p><strong>Order ID:</strong> {{$json.order_id}}</p> <p><strong>Customer:</strong> {{$json.customer_name}}</p> <p><strong>Email:</strong> {{$json.email}}</p> <p><strong>Order Value:</strong> ₹{{$json.order_value}}</p> <p><strong>Delivery Type:</strong> {{$json.delivery_type}}</p> <p><strong>Priority:</strong>{{ JSON.parse($json.output).priority }}</p>  <hr>  <p style=\"color:red;\"><strong>⚠ Immediate action required!</strong></p> <p>This order is marked as HIGH priority. Please process it immediately.</p>",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          1392,
          -160
        ],
        "id": "2dbeca70-7079-4f53-adbe-3905843308d4",
        "name": "Send High Priority Alert",
        "webhookId": "994de4f4-304c-490d-b5e0-af3f43900d92",
        "credentials": {
          "gmailOAuth2": {
            "id": "dJo19xe1bVod4Y6k",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1456,
          -304
        ],
        "id": "a7a1cedd-95e0-40be-970f-efe5a4bb6e4a",
        "name": "Prepare High Order Log"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1hHLcPkLrA44KV8qn1n3E6SRTYBgcWaRuqH7hBRfOdDo",
            "mode": "list",
            "cachedResultName": "Day-7 order notification system",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hHLcPkLrA44KV8qn1n3E6SRTYBgcWaRuqH7hBRfOdDo/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "High Priority",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hHLcPkLrA44KV8qn1n3E6SRTYBgcWaRuqH7hBRfOdDo/edit#gid=0"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "order_id",
                "displayName": "order_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "customer_name",
                "displayName": "customer_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "email",
                "displayName": "email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "order_value",
                "displayName": "order_value",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "delivery_type",
                "displayName": "delivery_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "timestamp",
                "displayName": "timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "output",
                "displayName": "output",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Priority",
                "displayName": "Priority",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "threadId",
                "displayName": "threadId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "labelIds",
                "displayName": "labelIds",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1648,
          -192
        ],
        "id": "36d88339-3957-448d-8cda-524f7986d199",
        "name": "Log High Priority Order",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "XUo0YZXw282TEr36",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b9eacb24-8ad3-4869-ac32-577177677dbf",
                "name": "Priority",
                "value": "={{ JSON.parse($json.output).priority }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1248,
          64
        ],
        "id": "7fa0d432-853f-42d6-8c27-4f21c28fbb9a",
        "name": "Format Medium Priority Email"
      },
      {
        "parameters": {
          "sendTo": "={{ $json.email }}",
          "subject": "=📦 New Order - {{$json.order_id}}  ",
          "message": "=<h3 style=\"color:#f39c12;\">📦 New Order Received</h3>  <p><strong>Order ID:</strong> {{$json.order_id}}</p> <p><strong>Customer:</strong> {{$json.customer_name}}</p> <p><strong>Email:</strong> {{$json.email}}</p> <p><strong>Order Value:</strong> ₹{{$json.order_value}}</p> <p><strong>Delivery Type:</strong> {{$json.delivery_type}}</p> <p><strong>Priority:</strong> {{ JSON.parse($json.output).priority }}</p>  <hr>  <p><strong>Action:</strong> Process this order under normal workflow.</p>",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          1456,
          48
        ],
        "id": "938a447b-47fd-42ad-b7de-cc3a1ae94a14",
        "name": "Send Medium Priority Alert",
        "webhookId": "0d700fb1-9d2a-4833-9c7c-0cf680254034",
        "credentials": {
          "gmailOAuth2": {
            "id": "dJo19xe1bVod4Y6k",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1376,
          208
        ],
        "id": "abf473d7-3e75-4bd0-9d6a-ea9cb9cd975c",
        "name": "Prepare Medium Order Log"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1hHLcPkLrA44KV8qn1n3E6SRTYBgcWaRuqH7hBRfOdDo",
            "mode": "list",
            "cachedResultName": "Day-7 order notification system",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hHLcPkLrA44KV8qn1n3E6SRTYBgcWaRuqH7hBRfOdDo/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 383938609,
            "mode": "list",
            "cachedResultName": "Medium Priority",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hHLcPkLrA44KV8qn1n3E6SRTYBgcWaRuqH7hBRfOdDo/edit#gid=383938609"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "order_id",
                "displayName": "order_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "customer_name",
                "displayName": "customer_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "email",
                "displayName": "email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "order_value",
                "displayName": "order_value",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "delivery_type",
                "displayName": "delivery_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "timestamp",
                "displayName": "timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "output",
                "displayName": "output",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Priority",
                "displayName": "Priority",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "threadId",
                "displayName": "threadId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "labelIds",
                "displayName": "labelIds",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1664,
          80
        ],
        "id": "faa1d0cd-e726-412f-a5b4-4c1dce6159ef",
        "name": "Log Medium Priority Order",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "XUo0YZXw282TEr36",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "0afcca8e-aab8-4394-8aa3-2dc6c59c131d",
                "name": "Priority",
                "value": "={{ JSON.parse($json.output).priority }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1120,
          352
        ],
        "id": "c35260d0-c89f-479d-967f-ad6b4aba0d4f",
        "name": "Format Low Priority Email"
      },
      {
        "parameters": {
          "sendTo": "={{ $json.email }}",
          "subject": "=🟢 Low Priority Order - {{$json.order_id}}\n",
          "message": "= <h4 style=\"color:green;\">🟢 Low Priority Order</h4>  <p><strong>Order ID:</strong> {{$json.order_id}}</p> <p><strong>Customer:</strong> {{$json.customer_name}}</p> <p><strong>Order Value:</strong> ₹{{$json.order_value}}</p> <p><strong>Priority:</strong>{{ JSON.parse($json.output).priority }}</p>  <hr>  <p>No immediate action required. Can be processed later.</p>",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          1312,
          368
        ],
        "id": "0c9adfe6-42f2-48e2-a639-9883892da8a2",
        "name": "Send Low Priority Alert",
        "webhookId": "dfd67841-b69e-42e1-a3ae-61775d60ba01",
        "credentials": {
          "gmailOAuth2": {
            "id": "dJo19xe1bVod4Y6k",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1472,
          480
        ],
        "id": "2148c262-35d6-4564-b9bd-bac00ddfc4ae",
        "name": "Prepare Low Order Log"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1hHLcPkLrA44KV8qn1n3E6SRTYBgcWaRuqH7hBRfOdDo",
            "mode": "list",
            "cachedResultName": "Day-7 order notification system",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hHLcPkLrA44KV8qn1n3E6SRTYBgcWaRuqH7hBRfOdDo/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 2059923653,
            "mode": "list",
            "cachedResultName": "Low Priority",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hHLcPkLrA44KV8qn1n3E6SRTYBgcWaRuqH7hBRfOdDo/edit#gid=2059923653"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "order_id",
                "displayName": "order_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "customer_name",
                "displayName": "customer_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "email",
                "displayName": "email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "order_value",
                "displayName": "order_value",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "delivery_type",
                "displayName": "delivery_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "timestamp",
                "displayName": "timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "output",
                "displayName": "output",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Priority",
                "displayName": "Priority",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "threadId",
                "displayName": "threadId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "labelIds",
                "displayName": "labelIds",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1664,
          480
        ],
        "id": "f305b5be-4866-4884-8ea6-aa9379a5999b",
        "name": "Log Low Priority Order",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "XUo0YZXw282TEr36",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "New Order Trigger": {
        "main": [
          [
            {
              "node": "Normalize Order Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Order Data": {
        "main": [
          [
            {
              "node": "Priority Prediction Agent",
              "type": "main",
              "index": 0
            },
            {
              "node": "Prepare AI Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Priority Prediction Agent": {
        "main": [
          [
            {
              "node": "Prepare AI Input",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "LLM Model": {
        "ai_languageModel": [
          [
            {
              "node": "Priority Prediction Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Prepare AI Input": {
        "main": [
          [
            {
              "node": "Priority Rourter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Priority Rourter": {
        "main": [
          [
            {
              "node": "Format High Priority Email",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format Medium Priority Email",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format Low Priority Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format High Priority Email": {
        "main": [
          [
            {
              "node": "Send High Priority Alert",
              "type": "main",
              "index": 0
            },
            {
              "node": "Prepare High Order Log",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send High Priority Alert": {
        "main": [
          [
            {
              "node": "Prepare High Order Log",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Prepare High Order Log": {
        "main": [
          [
            {
              "node": "Log High Priority Order",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log High Priority Order": {
        "main": [
          []
        ]
      },
      "Format Medium Priority Email": {
        "main": [
          [
            {
              "node": "Send Medium Priority Alert",
              "type": "main",
              "index": 0
            },
            {
              "node": "Prepare Medium Order Log",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Medium Priority Alert": {
        "main": [
          [
            {
              "node": "Prepare Medium Order Log",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Prepare Medium Order Log": {
        "main": [
          [
            {
              "node": "Log Medium Priority Order",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Low Priority Email": {
        "main": [
          [
            {
              "node": "Send Low Priority Alert",
              "type": "main",
              "index": 0
            },
            {
              "node": "Prepare Low Order Log",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Low Priority Alert": {
        "main": [
          [
            {
              "node": "Prepare Low Order Log",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Prepare Low Order Log": {
        "main": [
          [
            {
              "node": "Log Low Priority Order",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Chandu M",
    "name": "AI Order Priority & Notification System",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-22T12:18:48.985Z",
        "id": 34,
        "workflowId": "MZy5qqDg6YYhe94s",
        "versionId": "29a1fac4-76a1-4a8a-ab6f-0b78c01549e5",
        "event": "activated",
        "userId": "8d994dc9-eaab-443f-93bf-ef4aa823f36d"
      },
      {
        "createdAt": "2026-06-22T12:20:11.769Z",
        "id": 36,
        "workflowId": "MZy5qqDg6YYhe94s",
        "versionId": "29a1fac4-76a1-4a8a-ab6f-0b78c01549e5",
        "event": "activated",
        "userId": "8d994dc9-eaab-443f-93bf-ef4aa823f36d"
      },
      {
        "createdAt": "2026-06-22T12:20:11.686Z",
        "id": 35,
        "workflowId": "MZy5qqDg6YYhe94s",
        "versionId": "29a1fac4-76a1-4a8a-ab6f-0b78c01549e5",
        "event": "deactivated",
        "userId": "8d994dc9-eaab-443f-93bf-ef4aa823f36d"
      }
    ]
  },
  "scopes": [
    "execution:reveal",
    "workflow:create",
    "workflow:delete",
    "workflow:disableRedaction",
    "workflow:enableRedaction",
    "workflow:execute",
    "workflow:execute-chat",
    "workflow:export",
    "workflow:list",
    "workflow:move",
    "workflow:publish",
    "workflow:read",
    "workflow:share",
    "workflow:unpublish",
    "workflow:unshare",
    "workflow:update"
  ],
  "checksum": "c98c41972e4acc1537a84474694a1eeb417ea193afec56a4a8442f810327ce3b"
}