components/agents/AI Resume-Based Job Matching Agent 🚀(Jun 8 at 17_16_11).json
{
  "updatedAt": "2026-06-09T06:33:56.615Z",
  "createdAt": "2026-06-07T11:30:18.957Z",
  "id": "04TMVbIZnoyum5jF",
  "name": "AI Resume-Based Job Matching Agent 🚀",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-oss-20b",
          "mode": "list",
          "cachedResultName": "openai/gpt-oss-20b"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -112,
        224
      ],
      "id": "0a0d2d7b-d5a4-42bc-ade8-34da5cdaeec7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ElpSuTJcjmLFzmqr",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-oss-20b",
          "mode": "list",
          "cachedResultName": "openai/gpt-oss-20b"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1552,
        304
      ],
      "id": "188d7583-a33e-4049-ad9e-84b57ba5dc60",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ElpSuTJcjmLFzmqr",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1824,
        -112
      ],
      "id": "a4cd29c2-7c70-4592-8c2f-b32c8bdb841f",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2192,
        -224
      ],
      "id": "6524bfce-ece3-4108-96b7-69077e11a22b",
      "name": "Merge2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1008,
        -96
      ],
      "id": "1ddf1155-ccdd-4086-b4f1-517bb38dd6ca",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "163e6b43-6a46-4475-8770-a1780c0a16f5",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "9a2fd603-a0fe-418e-997c-2d4a7f0ee53b",
              "name": "resumeText",
              "value": "={{ $json.body.resumeText }}",
              "type": "string"
            },
            {
              "id": "28bb8b33-28f7-4910-a92f-cdfaaa037965",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        -112
      ],
      "id": "3e416a9d-65c8-4ab0-9a6e-76471df859c5",
      "name": "Resume Text Parser"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3a6ef633-336b-4198-b944-abde42f1549a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        32
      ],
      "id": "e2776b17-57e4-47ff-9f94-cebf9bee7ab6",
      "name": "Data Input",
      "webhookId": "3a6ef633-336b-4198-b944-abde42f1549a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract structured data from this resume:\n\n{{ $json.resumeText }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a resume parsing AI designed for automation workflows.\n\nYour task is to extract structured data from a resume.\n\nRules:\n- Return ONLY valid JSON\n- Do NOT include any explanation, text, or formatting outside JSON\n- Ensure JSON is parseable\n- If data is missing, return empty arrays\n\nExtract the following fields:\n- skills (array of strings)\n- inferred_skills (array of strings based on context)\n- roles (array of job roles)\n- experience_level (\"fresher\", \"junior\", \"mid\", \"senior\")\n\nFor freshers:\n- Infer skills from projects and technologies mentioned\n- Map technologies to roles (e.g., React → Frontend Developer)\n\nOutput format:\n{\n  \"skills\": [],\n  \"inferred_skills\": [],\n  \"roles\": [],\n  \"experience_level\": \"\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        32,
        16
      ],
      "id": "9c585b9d-5240-41b9-8bde-4e22434a83e7",
      "name": "Skill Extractor"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let raw = $json.output;\n\n// ensure string\nif (typeof raw !== \"string\") {\n  raw = JSON.stringify(raw);\n}\n\n// clean markdown\nraw = raw.replace(/```json|```/g, '').trim();\n\n// parse\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (err) {\n  throw new Error(\"Parsing failed. Raw output: \" + raw);\n}\n\n// merge + normalize\nconst allSkills = [\n  ...(parsed.skills || []),\n  ...(parsed.inferred_skills || [])\n];\n\nconst normalized = [...new Set(allSkills.map(s => s.toLowerCase()))];\n\n// ✅ RETURN ONLY OBJECT (NOT ARRAY, NOT json wrapper)\nreturn {\n  skills: normalized,\n  roles: parsed.roles || [],\n  experience_level: parsed.experience_level || \"fresher\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        16
      ],
      "id": "79c90588-bda7-4b30-869a-424b53d7d907",
      "name": "Profile Builder"
    },
    {
      "parameters": {
        "url": "https://remotive.com/api/remote-jobs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "={{$json.skills.join(\" \")}}"
            },
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        80
      ],
      "id": "1fa5baac-35ef-4371-854d-a365d9cf4713",
      "name": "Job Fetcher"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// 🔹 Extract data from different inputs\nconst userSkills = items[0].json.skills || [];\nconst jobs = items[1].json.jobs || [];\n\nif (!userSkills.length || !jobs.length) {\n  return [\n    {\n      json: {\n        error: \"Missing skills or jobs\",\n        userSkills,\n        jobsCount: jobs.length\n      }\n    }\n  ];\n}\n\nconst fresherKeywords = [\"junior\", \"entry\", \"fresher\", \"graduate\", \"intern\"];\n\nlet processed = jobs.map(job => {\n  let score = 0;\n  const desc = (job.description || \"\").toLowerCase();\n  const title = (job.title || \"\").toLowerCase();\n\n  userSkills.forEach(skill => {\n    if (desc.includes(skill.toLowerCase())) {\n      score++;\n    }\n  });\n\n  let fresherMatch = fresherKeywords.some(keyword =>\n    title.includes(keyword) || desc.includes(keyword)\n  );\n\n  return {\n    title: job.title,\n    company: job.company_name,\n    link: job.url,\n    description: job.description,\n    skills: userSkills,\n    matchScore: score,\n    fresherMatch\n  };\n});\n\n// 🔥 STEP 1: fresher filter\nlet filtered = processed\n  .filter(job => job.matchScore >= 2 && job.fresherMatch)\n  .sort((a, b) => b.matchScore - a.matchScore)\n  .slice(0, 5);\n\n// 🔥 STEP 2: fallback\nif (filtered.length === 0) {\n  filtered = processed\n    .filter(job => job.matchScore >= 2)\n    .sort((a, b) => b.matchScore - a.matchScore)\n    .slice(0, 5);\n}\n\nreturn filtered.map(job => ({ json: job }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        32
      ],
      "id": "db1c210a-b3ac-4214-991c-32414aeeb904",
      "name": "Job Normalizer"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Candidate skills:\n{{ $json.skills }}\n\nJob Title:\n{{ $json.title }}\n\nCompany:\n{{ $json.company }}\n\nJob Description:\n{{ $json.description }}\n\nIMPORTANT:\nReturn response in JSON format:\n{\n  \"explanation\": \"...\"\n}",
        "options": {
          "systemMessage": "You are an AI career assistant.\n\nYour task is to explain why a job is suitable for a candidate based on their skills.\n\nRules:\n- Keep it short (2-3 lines)\n- Be clear and specific\n- Mention relevant skills\n- Make it sound helpful for freshers\n- Do NOT hallucinate skills not provided"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1520,
        96
      ],
      "id": "e99a2aef-d672-480a-9e4c-6a435057f039",
      "name": "Explanation Generator"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let raw = $json.output;\n\nif (typeof raw === \"string\") {\n  raw = raw.replace(/```json|```/g, \"\").trim();\n}\n\nlet parsed = JSON.parse(raw);\n\nreturn {\n  json: {\n    title: $json.title,\n    company: $json.company,\n    link: $json.link,\n    explanation: parsed.explanation\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        0
      ],
      "id": "35d23e19-784a-4475-bdab-2f509169b159",
      "name": "Ai Career Insights Generator"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// get email from first item\nconst email = items[0].json.email;\n\n// build message\nconst message = items.map((item, i) => {\n  return `${i + 1}. ${item.json.title} (${item.json.company})\n\n💡 Why it matches:\n${item.json.explanation}\n\n🔗 Apply:\n${item.json.link}`;\n}).join(\"\\n\\n----------------------\\n\\n\");\n\n// return SINGLE item\nreturn [\n  {\n    json: {\n      email,\n      message\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        -224
      ],
      "id": "1d48e882-4f62-47a4-8cd0-246f8f1686fa",
      "name": "Email Formator"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "🚀 Your Personalized Job Matches!",
        "emailType": "text",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2576,
        -224
      ],
      "id": "cd678269-c779-4542-a552-c5d4a3e7f93c",
      "name": "Email Sender",
      "webhookId": "1ceac562-e1a5-4db9-bfc2-a89a5b344e26",
      "credentials": {
        "gmailOAuth2": {
          "id": "dJo19xe1bVod4Y6k",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "Setup Instructions:\n\n1. Add OpenAI API key\n2. Configure Email node\n3. Test webhook input\n4. Activate workflow\n\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        -640
      ],
      "typeVersion": 1,
      "id": "56a675fd-e4b2-4b85-9cbd-19b923be75b7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Input:\n- email\n- resumeText\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        -400
      ],
      "typeVersion": 1,
      "id": "9f80e1c7-8ed8-44ad-b98e-6f7649d08485",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "\nOutput:\n- Job matches sent via email"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2432,
        -592
      ],
      "typeVersion": 1,
      "id": "232872c1-6c32-47b3-b48b-ed462f570df8",
      "name": "Sticky Note2"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Skill Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Explanation Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Ai Career Insights Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Email Formator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Job Normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Text Parser": {
      "main": [
        [
          {
            "node": "Skill Extractor",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Input": {
      "main": [
        [
          {
            "node": "Resume Text Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skill Extractor": {
      "main": [
        [
          {
            "node": "Profile Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profile Builder": {
      "main": [
        [
          {
            "node": "Job Fetcher",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Fetcher": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Job Normalizer": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Explanation Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explanation Generator": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Ai Career Insights Generator": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Email Formator": {
      "main": [
        [
          {
            "node": "Email Sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "08b0fa62-7159-4504-a279-fa48acc3ab11",
  "activeVersionId": "08b0fa62-7159-4504-a279-fa48acc3ab11",
  "versionCounter": 190,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-07T11:30:18.963Z",
      "createdAt": "2026-06-07T11:30:18.963Z",
      "role": "workflow:owner",
      "workflowId": "04TMVbIZnoyum5jF",
      "projectId": "loWf0mBs1xKuh5N3",
      "project": {
        "updatedAt": "2026-06-04T07:55:05.260Z",
        "createdAt": "2026-06-04T07:52:41.897Z",
        "id": "loWf0mBs1xKuh5N3",
        "name": "Chandu M <chandouqiande@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8d994dc9-eaab-443f-93bf-ef4aa823f36d"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-06-09T06:33:27.317Z",
      "createdAt": "2026-06-09T06:33:27.317Z",
      "id": "8ZUaEfWmhomQ0P8p",
      "name": "n8n"
    },
    {
      "updatedAt": "2026-06-09T06:33:49.072Z",
      "createdAt": "2026-06-09T06:33:49.072Z",
      "id": "FnmrzqRNVEcarKLc",
      "name": "workflow"
    },
    {
      "updatedAt": "2026-06-09T06:33:39.834Z",
      "createdAt": "2026-06-09T06:33:39.834Z",
      "id": "IpjYIEpH6CySG16k",
      "name": "Job Matching"
    },
    {
      "updatedAt": "2026-06-09T06:33:15.749Z",
      "createdAt": "2026-06-09T06:33:15.749Z",
      "id": "OqenQjr9s45g7AEO",
      "name": "ai"
    },
    {
      "updatedAt": "2026-06-09T06:33:45.548Z",
      "createdAt": "2026-06-09T06:33:45.548Z",
      "id": "SSAFLny1wplVixFm",
      "name": "ai agent"
    },
    {
      "updatedAt": "2026-06-09T06:33:22.379Z",
      "createdAt": "2026-06-09T06:33:22.379Z",
      "id": "aM91rNGq256NAUAN",
      "name": "automation"
    }
  ],
  "parentFolder": null,
  "activeVersion": {
    "updatedAt": "2026-06-09T06:32:28.000Z",
    "createdAt": "2026-06-08T11:46:11.369Z",
    "versionId": "08b0fa62-7159-4504-a279-fa48acc3ab11",
    "workflowId": "04TMVbIZnoyum5jF",
    "nodes": [
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "openai/gpt-oss-20b",
            "mode": "list",
            "cachedResultName": "openai/gpt-oss-20b"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -112,
          224
        ],
        "id": "0a0d2d7b-d5a4-42bc-ade8-34da5cdaeec7",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "ElpSuTJcjmLFzmqr",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "openai/gpt-oss-20b",
            "mode": "list",
            "cachedResultName": "openai/gpt-oss-20b"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          1552,
          304
        ],
        "id": "188d7583-a33e-4049-ad9e-84b57ba5dc60",
        "name": "OpenAI Chat Model1",
        "credentials": {
          "openAiApi": {
            "id": "ElpSuTJcjmLFzmqr",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1824,
          -112
        ],
        "id": "a4cd29c2-7c70-4592-8c2f-b32c8bdb841f",
        "name": "Merge1"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineAll",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          2192,
          -224
        ],
        "id": "6524bfce-ece3-4108-96b7-69077e11a22b",
        "name": "Merge2"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1008,
          -96
        ],
        "id": "1ddf1155-ccdd-4086-b4f1-517bb38dd6ca",
        "name": "Merge"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "163e6b43-6a46-4475-8770-a1780c0a16f5",
                "name": "email",
                "value": "={{ $json.body.email }}",
                "type": "string"
              },
              {
                "id": "9a2fd603-a0fe-418e-997c-2d4a7f0ee53b",
                "name": "resumeText",
                "value": "={{ $json.body.resumeText }}",
                "type": "string"
              },
              {
                "id": "28bb8b33-28f7-4910-a92f-cdfaaa037965",
                "name": "",
                "value": "",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -144,
          -112
        ],
        "id": "3e416a9d-65c8-4ab0-9a6e-76471df859c5",
        "name": "Resume Text Parser"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "3a6ef633-336b-4198-b944-abde42f1549a",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -384,
          32
        ],
        "id": "e2776b17-57e4-47ff-9f94-cebf9bee7ab6",
        "name": "Data Input",
        "webhookId": "3a6ef633-336b-4198-b944-abde42f1549a"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Extract structured data from this resume:\n\n{{ $json.resumeText }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "You are a resume parsing AI designed for automation workflows.\n\nYour task is to extract structured data from a resume.\n\nRules:\n- Return ONLY valid JSON\n- Do NOT include any explanation, text, or formatting outside JSON\n- Ensure JSON is parseable\n- If data is missing, return empty arrays\n\nExtract the following fields:\n- skills (array of strings)\n- inferred_skills (array of strings based on context)\n- roles (array of job roles)\n- experience_level (\"fresher\", \"junior\", \"mid\", \"senior\")\n\nFor freshers:\n- Infer skills from projects and technologies mentioned\n- Map technologies to roles (e.g., React → Frontend Developer)\n\nOutput format:\n{\n  \"skills\": [],\n  \"inferred_skills\": [],\n  \"roles\": [],\n  \"experience_level\": \"\"\n}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          32,
          16
        ],
        "id": "9c585b9d-5240-41b9-8bde-4e22434a83e7",
        "name": "Skill Extractor"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "let raw = $json.output;\n\n// ensure string\nif (typeof raw !== \"string\") {\n  raw = JSON.stringify(raw);\n}\n\n// clean markdown\nraw = raw.replace(/```json|```/g, '').trim();\n\n// parse\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (err) {\n  throw new Error(\"Parsing failed. Raw output: \" + raw);\n}\n\n// merge + normalize\nconst allSkills = [\n  ...(parsed.skills || []),\n  ...(parsed.inferred_skills || [])\n];\n\nconst normalized = [...new Set(allSkills.map(s => s.toLowerCase()))];\n\n// ✅ RETURN ONLY OBJECT (NOT ARRAY, NOT json wrapper)\nreturn {\n  skills: normalized,\n  roles: parsed.roles || [],\n  experience_level: parsed.experience_level || \"fresher\"\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          416,
          16
        ],
        "id": "79c90588-bda7-4b30-869a-424b53d7d907",
        "name": "Profile Builder"
      },
      {
        "parameters": {
          "url": "https://remotive.com/api/remote-jobs",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "search",
                "value": "={{$json.skills.join(\" \")}}"
              },
              {}
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          832,
          80
        ],
        "id": "1fa5baac-35ef-4371-854d-a365d9cf4713",
        "name": "Job Fetcher"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\n// 🔹 Extract data from different inputs\nconst userSkills = items[0].json.skills || [];\nconst jobs = items[1].json.jobs || [];\n\nif (!userSkills.length || !jobs.length) {\n  return [\n    {\n      json: {\n        error: \"Missing skills or jobs\",\n        userSkills,\n        jobsCount: jobs.length\n      }\n    }\n  ];\n}\n\nconst fresherKeywords = [\"junior\", \"entry\", \"fresher\", \"graduate\", \"intern\"];\n\nlet processed = jobs.map(job => {\n  let score = 0;\n  const desc = (job.description || \"\").toLowerCase();\n  const title = (job.title || \"\").toLowerCase();\n\n  userSkills.forEach(skill => {\n    if (desc.includes(skill.toLowerCase())) {\n      score++;\n    }\n  });\n\n  let fresherMatch = fresherKeywords.some(keyword =>\n    title.includes(keyword) || desc.includes(keyword)\n  );\n\n  return {\n    title: job.title,\n    company: job.company_name,\n    link: job.url,\n    description: job.description,\n    skills: userSkills,\n    matchScore: score,\n    fresherMatch\n  };\n});\n\n// 🔥 STEP 1: fresher filter\nlet filtered = processed\n  .filter(job => job.matchScore >= 2 && job.fresherMatch)\n  .sort((a, b) => b.matchScore - a.matchScore)\n  .slice(0, 5);\n\n// 🔥 STEP 2: fallback\nif (filtered.length === 0) {\n  filtered = processed\n    .filter(job => job.matchScore >= 2)\n    .sort((a, b) => b.matchScore - a.matchScore)\n    .slice(0, 5);\n}\n\nreturn filtered.map(job => ({ json: job }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1264,
          32
        ],
        "id": "db1c210a-b3ac-4214-991c-32414aeeb904",
        "name": "Job Normalizer"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Candidate skills:\n{{ $json.skills }}\n\nJob Title:\n{{ $json.title }}\n\nCompany:\n{{ $json.company }}\n\nJob Description:\n{{ $json.description }}\n\nIMPORTANT:\nReturn response in JSON format:\n{\n  \"explanation\": \"...\"\n}",
          "options": {
            "systemMessage": "You are an AI career assistant.\n\nYour task is to explain why a job is suitable for a candidate based on their skills.\n\nRules:\n- Keep it short (2-3 lines)\n- Be clear and specific\n- Mention relevant skills\n- Make it sound helpful for freshers\n- Do NOT hallucinate skills not provided"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          1520,
          96
        ],
        "id": "e99a2aef-d672-480a-9e4c-6a435057f039",
        "name": "Explanation Generator"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "let raw = $json.output;\n\nif (typeof raw === \"string\") {\n  raw = raw.replace(/```json|```/g, \"\").trim();\n}\n\nlet parsed = JSON.parse(raw);\n\nreturn {\n  json: {\n    title: $json.title,\n    company: $json.company,\n    link: $json.link,\n    explanation: parsed.explanation\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2096,
          0
        ],
        "id": "35d23e19-784a-4475-bdab-2f509169b159",
        "name": "Ai Career Insights Generator"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\n// get email from first item\nconst email = items[0].json.email;\n\n// build message\nconst message = items.map((item, i) => {\n  return `${i + 1}. ${item.json.title} (${item.json.company})\n\n💡 Why it matches:\n${item.json.explanation}\n\n🔗 Apply:\n${item.json.link}`;\n}).join(\"\\n\\n----------------------\\n\\n\");\n\n// return SINGLE item\nreturn [\n  {\n    json: {\n      email,\n      message\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2400,
          -224
        ],
        "id": "1d48e882-4f62-47a4-8cd0-246f8f1686fa",
        "name": "Email Formator"
      },
      {
        "parameters": {
          "sendTo": "={{ $json.email }}",
          "subject": "🚀 Your Personalized Job Matches!",
          "emailType": "text",
          "message": "={{ $json.message }}",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          2576,
          -224
        ],
        "id": "cd678269-c779-4542-a552-c5d4a3e7f93c",
        "name": "Email Sender",
        "webhookId": "1ceac562-e1a5-4db9-bfc2-a89a5b344e26",
        "credentials": {
          "gmailOAuth2": {
            "id": "dJo19xe1bVod4Y6k",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "content": "Setup Instructions:\n\n1. Add OpenAI API key\n2. Configure Email node\n3. Test webhook input\n4. Activate workflow\n\n"
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -304,
          -640
        ],
        "typeVersion": 1,
        "id": "56a675fd-e4b2-4b85-9cbd-19b923be75b7",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "Input:\n- email\n- resumeText\n"
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -304,
          -400
        ],
        "typeVersion": 1,
        "id": "9f80e1c7-8ed8-44ad-b98e-6f7649d08485",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "\nOutput:\n- Job matches sent via email"
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2432,
          -592
        ],
        "typeVersion": 1,
        "id": "232872c1-6c32-47b3-b48b-ed462f570df8",
        "name": "Sticky Note2"
      }
    ],
    "connections": {
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Skill Extractor",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Explanation Generator",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Ai Career Insights Generator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge2": {
        "main": [
          [
            {
              "node": "Email Formator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Job Normalizer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Resume Text Parser": {
        "main": [
          [
            {
              "node": "Skill Extractor",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Data Input": {
        "main": [
          [
            {
              "node": "Resume Text Parser",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Skill Extractor": {
        "main": [
          [
            {
              "node": "Profile Builder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Profile Builder": {
        "main": [
          [
            {
              "node": "Job Fetcher",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Job Fetcher": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Job Normalizer": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Explanation Generator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Explanation Generator": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Ai Career Insights Generator": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Email Formator": {
        "main": [
          [
            {
              "node": "Email Sender",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Chandu M",
    "name": "v1.0 – Resume-Based Job Matching Agent",
    "description": "# 🚀 AI Resume-Based Job Matching Agent\n\nThis workflow automatically finds relevant job opportunities based on a user's resume and sends them directly via email.\n\n---\n\n## 🔍 How It Works\n\n1. User submits:\n\n   * Email address\n   * Resume text\n\n2. AI analyzes the resume and extracts:\n\n   * Skills\n   * Roles\n   * Experience level\n\n3. The workflow:\n\n   * Fetches real-time remote jobs\n   * Matches jobs based on extracted skills\n   * Filters the most relevant opportunities\n\n4. AI generates a short explanation for each job:\n\n   * Why it matches the candidate profile\n\n5. Final output:\n\n   * A single email containing top matched jobs with apply links\n\n---\n\n## 📩 Input Required\n\n* `email` → User email address\n* `resumeText` → Resume content (text format)\n\n---\n\n## 📤 Output\n\n* Curated list of job opportunities\n* Personalized explanation for each job\n* Direct application links sent via email\n\n---\n\n## 🎯 Use Cases\n\n* Freshers looking for jobs\n* Developers searching for remote opportunities\n* Automating job discovery workflows\n\n---\n\n## ⚙️ Tech Stack\n\n* n8n (workflow automation)\n* AI model (for resume analysis & explanations)\n* Job APIs (Remotive)\n\n---\n\n## 💡 Notes\n\n* Designed for resume text input (not file parsing)\n* Focused on fresher-friendly job matching\n* Easily extendable with more job sources or daily automation\n\n---\n\nBuilt as part of a real-world AI automation workflow series 🚀\n",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-09T06:32:28.131Z",
        "id": 6,
        "workflowId": "04TMVbIZnoyum5jF",
        "versionId": "08b0fa62-7159-4504-a279-fa48acc3ab11",
        "event": "activated",
        "userId": "8d994dc9-eaab-443f-93bf-ef4aa823f36d"
      }
    ]
  },
  "scopes": [
    "execution:reveal",
    "workflow:create",
    "workflow:delete",
    "workflow:disableRedaction",
    "workflow:enableRedaction",
    "workflow:execute",
    "workflow:execute-chat",
    "workflow:export",
    "workflow:list",
    "workflow:move",
    "workflow:publish",
    "workflow:read",
    "workflow:share",
    "workflow:unpublish",
    "workflow:unshare",
    "workflow:update"
  ],
  "checksum": "b571e7f76591519e51072398519015a2e1ee39469662bd1bb5cde59d036bceaf"
}